<pre>
(Title: <%= title %>)

  <% Item::KINDS.each do |kind| %>
  <% if items[kind].present? %>
## <%= kind.pluralize %></h1>

      <% items[kind].each do |item| %>
* <%= item.title %>
        <% if item.description.present? %>

<%= item.description %>

       <% end %>
    <% end %>
  <% end %>

<% end %>
</pre>